<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="q" class="com.lct.Question">
    <constructor-arg value="11"></constructor-arg>
    <constructor-arg value="Java 是什么?"></constructor-arg>
    <constructor-arg>
        <map>
            <entry key="Java是一门编程语言." value="A库马尔"></entry>
            <entry key="Java 是一个平台." value="约翰·史密斯"></entry>
            <entry key="Java是一个岛屿." value="R库玛尔"></entry>
        </map>
    </constructor-arg>

</bean>
</beans>