<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="beanIDOrName" class="com.lifePeriod.BeanClass" init-method="initBean" destroy-method="destroyBean">
        <property name="msg" value="See the bean's lifePeriod!!!!!!!!!!!"></property>
    </bean>

</beans>