<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
<aop:aspectj-autoproxy/>
    <bean id="b" class="net.lct.Business"/>
    <bean id="track" class="net.lct.TrackClass"/>

    <aop:config>
        <aop:aspect id="advisor" ref="track">
<aop:after method="businessAdvice" pointcut-ref="pointcutor"/>
<aop:pointcut id="pointcutor" expression="execution(* net.lct.Business.*())"/>

        </aop:aspect>

    </aop:config>
</beans>